.mainHeading {
    display: flex;
    justify-content: center;
    color: azure;
}

body {
    background-color: #282a36;
}

.pokemonCards {
    display: flex;
    color: azure;
    flex-wrap: wrap;
}

img {
    height: 15rem;
    width: 15rem;
    margin: 0px;

}



p {
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
}

.card {
    flex: 1 1 17%;
    max-width: 17%;
    height: 15rem;
    background-color: rgb(190, 142, 80);
    margin: 3.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px gold;
    cursor: pointer;
}

.scores {
    color: azure;
}